@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWyV-hs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUJ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKXGUehs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWiUOhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rg-VQ.ttf) format('truetype');
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  font-size: 15px;
  margin: 0;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  padding: 45px 0;
}
.header {
  width: 100%;
  height: 120px;
  background: #fff;
}
.header__logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 22px;
}
.header__nav-item {
  color: #212121;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  margin-right: 40px;
}
.header__nav-item:hover {
  text-decoration: none;
  color: #545454;
}
.header__nav-item:last-child {
  width: 21px;
  height: 21px;
  background: url('../img/search-icon.svg') no-repeat center center;
  background-size: cover;
  margin-right: 0;
}
.intro {
  width: 100%;
  height: auto;
  background: url(../img/intro.jpg) no-repeat center center;
  background-size: cover;
}
.intro .container {
  padding: 180px 0;
  text-align: center;
  color: #fff;
}
.intro__title {
  font-size: 60px;
  margin-bottom: 30px;
}
.intro__text {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 105px;
}
.intro__btn {
  width: 222px;
  height: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  transition: 0.1s;
  background: transparent;
  border: 2px solid #fff;
  margin-right: 25px;
  cursor: pointer;
}
.intro__btn:hover {
  background: #00897b;
  border: 0;
}
.about {
  background: #fff;
  color: #212121;
  text-align: center;
  padding: 125px 0;
}
.about .container {
  padding: 0;
}
.about__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.about__text {
  margin-bottom: 125px;
}
.about__item {
  padding-top: 95px;
}
.about__item:first-child {
  background: url(../img/internet.svg) no-repeat center top;
}
.about__item:nth-child(2) {
  background: url(../img/transfer.svg) no-repeat center top;
}
.about__item:last-child {
  background: url(../img/head.svg) no-repeat center top;
}
.about__subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about__content {
  margin: 0;
}
.services {
  background: #e4fdf9;
  color: #212121;
  text-align: center;
  padding: 170px 0 90px;
}
.services .container {
  padding: 0;
}
.services__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.services__text {
  margin-bottom: 110px;
}
.services__item {
  padding: 150px 40px 50px;
  background: url(../img/phone-icon.svg) no-repeat center 50px, #fff;
  transition: all 0.1s;
  margin-bottom: 30px;
}
.services__item:hover {
  background: url(../img/phone-icon-hover.svg) no-repeat center 50px, #00897b;
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
}
.services__item:hover .services__btn {
  color: #fff;
  border: 1px solid #fff;
}
.services__subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.services__content {
  margin: 0 0 45px 0;
}
.services__btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 15px 10px;
  border: 1px solid #212121;
  background: transparent;
  cursor: pointer;
}
.portfolio {
  background: #fff;
  color: #212121;
  text-align: center;
  padding: 130px 0;
}
.portfolio .container {
  padding: 0;
}
.portfolio__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.portfolio__text {
  margin-bottom: 110px;
}
.portfolio__btn {
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #212121;
  text-transform: uppercase;
  transition: 0.1s;
  background: transparent;
  border: 2px solid #00897b;
  margin-right: 15px;
  padding: 0 30px;
  cursor: pointer;
}
.portfolio__btn:hover,
.portfolio__btn.active {
  background: #00897b;
  color: #fff;
}
.portfolio__filter {
  padding: 120px 0;
}
.portfolio__filter div:hover img {
  filter: brightness(50%);
}
.portfolio__filter div:hover .portfolio__content {
  display: block;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 0;
  text-align: center;
}
.portfolio__filter img {
  margin-bottom: 30px;
  transition: all 0.1s;
}
.portfolio__content {
  display: none;
}
.price {
  background: #f0f1f1;
  color: #212121;
  text-align: center;
  padding: 120px 0;
}
.price .container {
  padding: 0;
}
.price__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.price__text {
  margin-bottom: 120px;
}
.price__card {
  background: url(../img/price-item-bg.svg) no-repeat center top, #fff;
  padding: 45px 95px 65px;
}
.price__card:hover {
  box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.35);
}
.price__card-head {
  color: #fff;
  font-size: 25px;
  margin-bottom: 80px;
}
.price__card-head p {
  margin: 0;
}
.price__card-head span {
  font-size: 50px;
}
.price__card-head sup {
  font-size: 25px;
}
.price__card-head sub {
  vertical-align: middle;
  font-size: 17px;
}
.price__card-list {
  font-size: 17px;
  font-weight: 300;
  list-style: none;
  margin: 0;
  padding: 0;
}
.price__card-list li {
  height: 40px;
  margin: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.price__card-list li:last-child {
  margin-bottom: 65px;
}
.price__card-btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  padding: 15px 30px;
  border: 1px solid #212121;
  background: transparent;
  cursor: pointer;
  transition: 0.1s;
}
.price__card-btn:hover {
  background: #00897b;
  color: #fff;
  border: 1px solid #00897b;
}
.team {
  background: #fff;
  color: #212121;
  text-align: center;
  padding: 120px 0;
}
.team .container {
  padding: 0;
}
.team__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.team__text {
  margin-bottom: 120px;
}
.team__img {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}
.team__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 15px;
}
.team__content {
  font-size: 15px;
  margin-bottom: 30px;
}
.team__social {
  width: 100%;
}
.team__social-icon {
  display: block;
  width: 50px;
  height: 50px;
  background: #f0f1f1;
  border-radius: 5px;
  margin-right: 25px;
  transition: 0.1s;
}
.team__social-icon:first-child {
  background: url(../img/facebook.svg) no-repeat center center, #f0f1f1;
}
.team__social-icon:first-child:hover {
  background: url(../img/facebook-hover.svg) no-repeat center center, #3949ab;
}
.team__social-icon:nth-child(2) {
  background: url(../img/twitter.svg) no-repeat center center, #f0f1f1;
}
.team__social-icon:nth-child(2):hover {
  background: url(../img/twitter-hover.svg) no-repeat center center, #3949ab;
}
.team__social-icon:nth-child(3) {
  background: url(../img/chat.svg) no-repeat center center, #f0f1f1;
}
.team__social-icon:nth-child(3):hover {
  background: url(../img/chat-hover.svg) no-repeat center center, #3949ab;
}
.team__social-icon:last-child {
  background: url(../img/dribbble.svg) no-repeat center center, #f0f1f1;
}
.team__social-icon:last-child:hover {
  background: url(../img/dribbble-hover.svg) no-repeat center center, #3949ab;
}
.slick-list {
  margin-bottom: 125px;
}
.slick-dots {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.slick-dots button {
  background: #00897b;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  height: 15px;
  width: 15px;
  margin: 5px;
  cursor: pointer;
}
.slick-dots .slick-active button {
  background: #3949ab;
}
.hidden {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
